body{
    font-family: Arial;
    background: #f0f0f0;
}

.container{
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

.input-section{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 10px;
}

button{
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

li{
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: gray;
}